asgiref==3.11.1
dj-database-url==3.1.2
Django==6.0.3
django-allauth==65.15.0
django-browser-reload==1.21.0
django-cleanup==9.0.0
django-htmx==1.27.0
et_xmlfile==2.0.0
openpyxl==3.1.5
pillow==12.1.1
pypdf==6.14.2
pypdftk==0.5
sqlparse==0.5.5
whitenoise==6.12.0
pypdf
pymupdf
psycopg2
gunicorn